In [4]:
# SQLAlchemy
from sqlalchemy import create_engine, inspect
import pandas as pd
# Path to sqlite

# Path to sqlite
database_path = "../Data/wdi_kaggle.sqlite"

# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")
#from sqlalchemy import inspect
for table_name in inspect(engine).get_table_names():
   print(table_name)

Country
CountryNotes
Footnotes
Indicators
Series
SeriesNotes

In [5]:
conn= engine.connect()
Country_df= pd.read_sql("select * from Country",conn)
CountryNotes_df= pd.read_sql("select * from Country",conn)
Footnotes_df= pd.read_sql("select * from Country",conn)
Indicators_df= pd.read_sql("select * from Country",conn)
Series_df= pd.read_sql("select * from Country",conn)
SeriesNotes_df= pd.read_sql("select * from Country",conn)

In [6]:
# Save all dataframes as csv files
Country_df.to_csv("out_put\Country.csv",index=False)
CountryNotes_df.to_csv("out_put\CountryNotes.csv",index=False)
Footnotes_df.to_csv("out_put\Footnotes.csv",index=False)
Indicators_df.to_csv("out_put\Indicators.csv",index=False)
Series_df.to_csv("out_put\Series.csv",index=False)
SeriesNotes_df.to_csv("out_put\SeriesNotes.csv",index=False)

In [7]:
Country_df.head()

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",,2013/14,,2013,2000
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011,2013,2006
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",,,2010,2013,2001
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,,East Asia & Pacific,Upper middle income,AS,...,,,2010,,,Yes,2007,,,
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,,Europe & Central Asia,High income: nonOECD,AD,...,,,2011. Population data compiled from administra...,,,Yes,,,2006,

In [41]:
len(Country_df)

247

In [8]:
CountryNotes_df.head()

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",,2013/14,,2013,2000
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011,2013,2006
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",,,2010,2013,2001
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,,East Asia & Pacific,Upper middle income,AS,...,,,2010,,,Yes,2007,,,
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,,Europe & Central Asia,High income: nonOECD,AD,...,,,2011. Population data compiled from administra...,,,Yes,,,2006,

In [82]:
# Scrape table(Unemployment) from WDI website

url="http://wdi.worldbank.org/table/2.5#"
tables = pd.read_html(url)

In [83]:
tables = pd.read_html(url)

In [222]:
tables[1]

Empty DataFrame
Columns: [(Unnamed: 0_level_0, Unnamed: 0_level_1, Unnamed: 0_level_2, Unnamed: 0_level_3), (Government expenditure per student, Primary, % of GDP per capita, 1999), (Government expenditure per student, Primary, % of GDP per capita, 2017), (Government expenditure per student, Secondary, % of GDP per capita, 1999), (Government expenditure per student, Secondary, % of GDP per capita, 2017), (Government expenditure per student, Tertiary, % of GDP per capita, 1999), (Government expenditure per student, Tertiary, % of GDP per capita, 2017), (Government expenditure on education, Unnamed: 7_level_1, % of GDP, 2017), (Government expenditure on education, Unnamed: 8_level_1, % of total government expenditure, 2017), (Trained teachers, Primary, % of total, 2017), (Trained teachers, Secondary, % of total, 2017), (Pupil-teacher ratio, Primary, pupils per teacher, 2017), (Pupil-teacher ratio, Secondary, pupils per teacher, 2017)]
Index: []

In [223]:
df1=tables[1]
columns = list(df1)
columns = [list(i) for i in columns]
columns

[['Unnamed: 0_level_0',
  'Unnamed: 0_level_1',
  'Unnamed: 0_level_2',
  'Unnamed: 0_level_3'],
 ['Government expenditure per student',
  'Primary',
  '% of GDP per capita',
  '1999'],
 ['Government expenditure per student',
  'Primary',
  '% of GDP per capita',
  '2017'],
 ['Government expenditure per student',
  'Secondary',
  '% of GDP per capita',
  '1999'],
 ['Government expenditure per student',
  'Secondary',
  '% of GDP per capita',
  '2017'],
 ['Government expenditure per student',
  'Tertiary',
  '% of GDP per capita',
  '1999'],
 ['Government expenditure per student',
  'Tertiary',
  '% of GDP per capita',
  '2017'],
 ['Government expenditure on education',
  'Unnamed: 7_level_1',
  '% of GDP',
  '2017'],
 ['Government expenditure on education',
  'Unnamed: 8_level_1',
  '% of total government expenditure',
  '2017'],
 ['Trained teachers', 'Primary', '% of total', '2017'],
 ['Trained teachers', 'Secondary', '% of total', '2017'],
 ['Pupil-teacher ratio', 'Primary', 'pupils per teacher', '2017'],
 ['Pupil-teacher ratio', 'Secondary', 'pupils per teacher', '2017']]

In [224]:
# Moderate the columns
columns[0] ="country name"
for i in range(1,len(columns)):
    if i<8:
        columns[i] = columns[i][0].lstrip("Unemployment,").lstrip()+" " + columns[i][1]
    else:
        columns[i] = columns[i][0].lstrip("Unemployment with ")+" "+ "2014-2017"

In [225]:
columns

['country name',
 'Government expenditure per student Primary',
 'Government expenditure per student Primary',
 'Government expenditure per student Secondary',
 'Government expenditure per student Secondary',
 'Government expenditure per student Tertiary',
 'Government expenditure per student Tertiary',
 'Government expenditure on education Unnamed: 7_level_1',
 'Government expenditure on education 2014-2017',
 'Trained teachers 2014-2017',
 'Trained teachers 2014-2017',
 'Pupil-teacher ratio 2014-2017',
 'Pupil-teacher ratio 2014-2017']

In [226]:
tables[2].head()

,country name,"Government expenditure per student,Primary,% of GDP per capita,1999","Government expenditure per student,Primary,% of GDP per capita,2017","Government expenditure per student,Secondary,% of GDP per capita,1999","Government expenditure per student,Secondary,% of GDP per capita,2017","Government expenditure per student,Tertiary,% of GDP per capita,1999","Government expenditure per student,Tertiary,% of GDP per capita,2017","Government expenditure on education,% of GDP,2017","Government expenditure on education,% of total government expenditure,2017","Trained teachers,Primary,% of total,2017","Trained teachers,Secondary,% of total,2017","Pupil-teacher ratio,Primary,pupils per teacher,2017","Pupil-teacher ratio,Secondary,pupils per teacher,2017"
0,Afghanistan,..,9.7,..,10.7,..,..,3.9,15.7,..,..,44,39
1,Albania,..,29.8,..,9.8,..,14.8,4.0,13.6,..,..,18,12
2,Algeria,12.2,..,21.2,..,..,..,..,..,100.0,..,24,..
3,American Samoa,..,..,..,..,..,..,..,..,..,..,..,..
4,Andorra,..,12.7,..,13.6,..,23.7,3.2,..,100.0,100.0,11,8

In [227]:
tables[2]
unemplyment_df= tables[2]
unemplyment_df.columns=columns

In [228]:
unemplyment_df.head(30)

,country name,Government expenditure per student Primary,Government expenditure per student Primary,Government expenditure per student Secondary,Government expenditure per student Secondary,Government expenditure per student Tertiary,Government expenditure per student Tertiary,Government expenditure on education Unnamed: 7_level_1,Government expenditure on education 2014-2017,Trained teachers 2014-2017,Trained teachers 2014-2017,Pupil-teacher ratio 2014-2017,Pupil-teacher ratio 2014-2017
0,Afghanistan,..,9.7,..,10.7,..,..,3.9,15.7,..,..,44,39
1,Albania,..,29.8,..,9.8,..,14.8,4.0,13.6,..,..,18,12
2,Algeria,12.2,..,21.2,..,..,..,..,..,100.0,..,24,..
3,American Samoa,..,..,..,..,..,..,..,..,..,..,..,..
4,Andorra,..,12.7,..,13.6,..,23.7,3.2,..,100.0,100.0,11,8
5,Angola,..,..,..,..,..,..,..,..,..,51.5,50,27
6,Antigua and Barbuda,..,..,..,..,..,..,..,..,55.2,51.2,12,10
7,Argentina,12.5,15.4,16.7,21.8,17.7,16.3,5.6,13.4,..,..,..,..
8,Armenia,..,11.2,..,..,..,9.7,2.8,10.2,..,..,..,..
9,Aruba,11.6,..,18.6,..,31.5,97.3,6.1,..,..,..,..,..
10,Australia,16.8,18.8,..,17.2,..,21.5,5.3,14.1,..,..,..,..
11,Austria,24.4,23.2,29.3,27.3,51.6,36.0,5.5,10.7,..,..,10,9
12,Azerbaijan,..,..,..,..,..,23.3,2.9,8.2,98.0,..,15,..
13,"Bahamas, The",..,..,..,..,..,..,..,..,90.1,84.8,19,12
14,Bahrain,..,11.2,..,17.5,..,..,2.3,7.2,83.7,84.7,12,10
15,Bangladesh,..,..,10.3,10.2,41.7,30.8,1.5,11.4,50.4,66.5,30,34
16,Barbados,10.5,20.7,17.3,27.9,52.9,..,4.7,12.9,79.8,47.4,14,18
17,Belarus,..,..,..,35.9,..,18.0,4.8,12.3,99.6,93.8,19,8
18,Belgium,..,22.1,..,..,..,32.3,6.6,12.2,..,..,11,9
19,Belize,16.9,16.0,18.0,26.8,..,30.2,7.1,21.7,72.8,54.1,20,17
20,Benin,10.9,9.2,22.2,10.8,192.5,73.0,4.0,18.8,68.3,18.0,44,11
21,Bermuda,..,8.2,..,12.1,..,..,1.5,..,100.0,100.0,10,6
22,Bhutan,..,..,..,32.1,..,..,7.1,24.0,100.0,100.0,35,11
23,Bolivia,14.3,..,11.8,..,..,..,..,..,58.2,56.6,19,21
24,Bosnia and Herzegovina,..,..,..,..,..,..,..,..,..,..,17,9
25,Botswana,..,..,..,..,..,..,..,..,..,..,..,..
26,Brazil,10.7,20.2,..,21.7,56.3,33.3,6.2,16.2,..,..,20,17
27,Brunei Darussalam,..,8.9,..,23.8,..,32.1,4.4,11.4,85.3,89.9,10,9
28,Bulgaria,12.5,..,14.3,..,12.8,..,..,..,..,..,18,13
29,Burkina Faso,..,16.0,..,17.6,..,334.0,4.2,18.0,85.8,58.2,41,23

In [229]:
# Scrape table(Education Input) from WDI website
url = "http://wdi.worldbank.org/table/2.7"
tables = pd.read_html(url)

In [230]:
tables[1]

Empty DataFrame
Columns: [(Unnamed: 0_level_0, Unnamed: 0_level_1, Unnamed: 0_level_2, Unnamed: 0_level_3), (Government expenditure per student, Primary, % of GDP per capita, 1999), (Government expenditure per student, Primary, % of GDP per capita, 2017), (Government expenditure per student, Secondary, % of GDP per capita, 1999), (Government expenditure per student, Secondary, % of GDP per capita, 2017), (Government expenditure per student, Tertiary, % of GDP per capita, 1999), (Government expenditure per student, Tertiary, % of GDP per capita, 2017), (Government expenditure on education, Unnamed: 7_level_1, % of GDP, 2017), (Government expenditure on education, Unnamed: 8_level_1, % of total government expenditure, 2017), (Trained teachers, Primary, % of total, 2017), (Trained teachers, Secondary, % of total, 2017), (Pupil-teacher ratio, Primary, pupils per teacher, 2017), (Pupil-teacher ratio, Secondary, pupils per teacher, 2017)]
Index: []

In [231]:
columns = [list(i) for i in list(tables[1])]
columns

[['Unnamed: 0_level_0',
  'Unnamed: 0_level_1',
  'Unnamed: 0_level_2',
  'Unnamed: 0_level_3'],
 ['Government expenditure per student',
  'Primary',
  '% of GDP per capita',
  '1999'],
 ['Government expenditure per student',
  'Primary',
  '% of GDP per capita',
  '2017'],
 ['Government expenditure per student',
  'Secondary',
  '% of GDP per capita',
  '1999'],
 ['Government expenditure per student',
  'Secondary',
  '% of GDP per capita',
  '2017'],
 ['Government expenditure per student',
  'Tertiary',
  '% of GDP per capita',
  '1999'],
 ['Government expenditure per student',
  'Tertiary',
  '% of GDP per capita',
  '2017'],
 ['Government expenditure on education',
  'Unnamed: 7_level_1',
  '% of GDP',
  '2017'],
 ['Government expenditure on education',
  'Unnamed: 8_level_1',
  '% of total government expenditure',
  '2017'],
 ['Trained teachers', 'Primary', '% of total', '2017'],
 ['Trained teachers', 'Secondary', '% of total', '2017'],
 ['Pupil-teacher ratio', 'Primary', 'pupils per teacher', '2017'],
 ['Pupil-teacher ratio', 'Secondary', 'pupils per teacher', '2017']]

In [232]:
# Modefiled the columns
columns[0] ="country name"
columns[7].remove(columns[7][1])
columns[8].remove(columns[8][1])
for i in range(1,len(columns)):
    columns[i] = ",".join(columns[i])

In [233]:
 columns

['country name',
 'Government expenditure per student,Primary,% of GDP per capita,1999',
 'Government expenditure per student,Primary,% of GDP per capita,2017',
 'Government expenditure per student,Secondary,% of GDP per capita,1999',
 'Government expenditure per student,Secondary,% of GDP per capita,2017',
 'Government expenditure per student,Tertiary,% of GDP per capita,1999',
 'Government expenditure per student,Tertiary,% of GDP per capita,2017',
 'Government expenditure on education,% of GDP,2017',
 'Government expenditure on education,% of total government expenditure,2017',
 'Trained teachers,Primary,% of total,2017',
 'Trained teachers,Secondary,% of total,2017',
 'Pupil-teacher ratio,Primary,pupils per teacher,2017',
 'Pupil-teacher ratio,Secondary,pupils per teacher,2017']

In [234]:
tables[2].head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Afghanistan,..,9.7,..,10.7,..,..,3.9,15.7,..,..,44,39
1,Albania,..,29.8,..,9.8,..,14.8,4.0,13.6,..,..,18,12
2,Algeria,12.2,..,21.2,..,..,..,..,..,100.0,..,24,..
3,American Samoa,..,..,..,..,..,..,..,..,..,..,..,..
4,Andorra,..,12.7,..,13.6,..,23.7,3.2,..,100.0,100.0,11,8

In [235]:
# Create education_input_df
education_input_df = tables[2]
education_input_df.columns=columns

In [236]:
education_input_df.head()

,country name,"Government expenditure per student,Primary,% of GDP per capita,1999","Government expenditure per student,Primary,% of GDP per capita,2017","Government expenditure per student,Secondary,% of GDP per capita,1999","Government expenditure per student,Secondary,% of GDP per capita,2017","Government expenditure per student,Tertiary,% of GDP per capita,1999","Government expenditure per student,Tertiary,% of GDP per capita,2017","Government expenditure on education,% of GDP,2017","Government expenditure on education,% of total government expenditure,2017","Trained teachers,Primary,% of total,2017","Trained teachers,Secondary,% of total,2017","Pupil-teacher ratio,Primary,pupils per teacher,2017","Pupil-teacher ratio,Secondary,pupils per teacher,2017"
0,Afghanistan,..,9.7,..,10.7,..,..,3.9,15.7,..,..,44,39
1,Albania,..,29.8,..,9.8,..,14.8,4.0,13.6,..,..,18,12
2,Algeria,12.2,..,21.2,..,..,..,..,..,100.0,..,24,..
3,American Samoa,..,..,..,..,..,..,..,..,..,..,..,..
4,Andorra,..,12.7,..,13.6,..,23.7,3.2,..,100.0,100.0,11,8

In [243]:
# Combine two dataset
education_unemployment_df = education_input_df.merge(unemplyment_df, on='country name',how="outer")
education_unemployment_df.head()

,country name,"Government expenditure per student,Primary,% of GDP per capita,1999","Government expenditure per student,Primary,% of GDP per capita,2017","Government expenditure per student,Secondary,% of GDP per capita,1999","Government expenditure per student,Secondary,% of GDP per capita,2017","Government expenditure per student,Tertiary,% of GDP per capita,1999","Government expenditure per student,Tertiary,% of GDP per capita,2017","Government expenditure on education,% of GDP,2017","Government expenditure on education,% of total government expenditure,2017","Trained teachers,Primary,% of total,2017",...,Government expenditure per student Secondary,Government expenditure per student Secondary,Government expenditure per student Tertiary,Government expenditure per student Tertiary,Government expenditure on education Unnamed: 7_level_1,Government expenditure on education 2014-2017,Trained teachers 2014-2017,Trained teachers 2014-2017,Pupil-teacher ratio 2014-2017,Pupil-teacher ratio 2014-2017
0,Afghanistan,..,9.7,..,10.7,..,..,3.9,15.7,..,...,..,10.7,..,..,3.9,15.7,..,..,44,39
1,Albania,..,29.8,..,9.8,..,14.8,4.0,13.6,..,...,..,9.8,..,14.8,4.0,13.6,..,..,18,12
2,Algeria,12.2,..,21.2,..,..,..,..,..,100.0,...,21.2,..,..,..,..,..,100.0,..,24,..
3,American Samoa,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Andorra,..,12.7,..,13.6,..,23.7,3.2,..,100.0,...,..,13.6,..,23.7,3.2,..,100.0,100.0,11,8

In [251]:
# Save dataframe as csv files
education_unemployment_df.to_csv("../Data/education_unemployment.csv", index=False)

In [245]:
# # Save the dataframe to Mongodb
# import pymongo
# conn = 'mongodb://localhost:27017'
# client = pymongo.MongoClient(conn)

In [ ]:
# Create the 'Two_development_indicators' database in Mongo
db = client.Two_development_indicators

In [255]:
import csv
import json
import sys, getopt, pprint
from pymongo import MongoClient

#CSV to JSON Conversion
csvfile = open("../Data/education_unemployment.csv", 'r')
reader = csv.DictReader( csvfile )

conn = 'mongodb://localhost:27017'
mongo_client = MongoClient(conn) 
# Create the 'Two_development_indicators' database in Mongo
db=mongo_client.Two_development_indicators  
# Create a collection" unemployment_educationinput" in database

db.unemployment_educationinput.drop()
education_unemployment_df_columns = list(education_unemployment_df)
header= education_unemployment_df_columns
for each in reader:
    row={}
    for field in header:
        row[field]=each[field]

    db.unemployment_educationinput.insert(row)

C:\Users\fawnz\Anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.