# To create the table the following steps were taken:

In [22]:
# Dependencies
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float
import pandas as pd
import pymongo
import json
import pprint

# Extracting and transforming data one

In [23]:
# Path to sqlite
database_path = "../Data/wdi_kaggle.sqlite"

In [24]:
# Creating engine
engine = create_engine(f"sqlite:///{database_path}")
for table_name in inspect(engine).get_table_names():
   print(table_name)

Country
CountryNotes
Footnotes
Indicators
Series
SeriesNotes

In [25]:
# Connecting to engine
conn = engine.connect()

In [26]:
# Selecting tables
country_data = pd.read_sql("SELECT * FROM Country", conn)
country_data.head()

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",,2013/14,,2013,2000
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011,2013,2006
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",,,2010,2013,2001
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,,East Asia & Pacific,Upper middle income,AS,...,,,2010,,,Yes,2007,,,
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,,Europe & Central Asia,High income: nonOECD,AD,...,,,2011. Population data compiled from administra...,,,Yes,,,2006,

In [27]:
# Selecting columns
country_columns = pd.read_sql("SELECT CountryCode, Region, IncomeGroup FROM Country", conn)
country_columns.head()

  CountryCode                      Region           IncomeGroup
0         AFG                  South Asia            Low income
1         ALB       Europe & Central Asia   Upper middle income
2         DZA  Middle East & North Africa   Upper middle income
3         ASM         East Asia & Pacific   Upper middle income
4         ADO       Europe & Central Asia  High income: nonOECD

In [28]:
# Extracting tables
country_columns_data = engine.execute('SELECT CountryCode, Region, IncomeGroup FROM Country').fetchall()
[*country_columns_data]

[('AFG', 'South Asia', 'Low income'),
 ('ALB', 'Europe & Central Asia', 'Upper middle income'),
 ('DZA', 'Middle East & North Africa', 'Upper middle income'),
 ('ASM', 'East Asia & Pacific', 'Upper middle income'),
 ('ADO', 'Europe & Central Asia', 'High income: nonOECD'),
 ('AGO', 'Sub-Saharan Africa', 'Upper middle income'),
 ('ATG', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('ARB', '', ''),
 ('ARG', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('ARM', 'Europe & Central Asia', 'Lower middle income'),
 ('ABW', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('AUS', 'East Asia & Pacific', 'High income: OECD'),
 ('AUT', 'Europe & Central Asia', 'High income: OECD'),
 ('AZE', 'Europe & Central Asia', 'Upper middle income'),
 ('BHR', 'Middle East & North Africa', 'High income: nonOECD'),
 ('BGD', 'South Asia', 'Lower middle income'),
 ('BRB', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('BLR', 'Europe & Central Asia', 'Upper middle income'),
 ('BEL', 'Europe & Central Asia', 'High income: OECD'),
 ('BLZ', 'Latin America & Caribbean', 'Upper middle income'),
 ('BEN', 'Sub-Saharan Africa', 'Low income'),
 ('BMU', 'North America', 'High income: nonOECD'),
 ('BTN', 'South Asia', 'Lower middle income'),
 ('BOL', 'Latin America & Caribbean', 'Lower middle income'),
 ('BIH', 'Europe & Central Asia', 'Upper middle income'),
 ('BWA', 'Sub-Saharan Africa', 'Upper middle income'),
 ('BRA', 'Latin America & Caribbean', 'Upper middle income'),
 ('BRN', 'East Asia & Pacific', 'High income: nonOECD'),
 ('BGR', 'Europe & Central Asia', 'Upper middle income'),
 ('BFA', 'Sub-Saharan Africa', 'Low income'),
 ('BDI', 'Sub-Saharan Africa', 'Low income'),
 ('CPV', 'Sub-Saharan Africa', 'Lower middle income'),
 ('KHM', 'East Asia & Pacific', 'Low income'),
 ('CMR', 'Sub-Saharan Africa', 'Lower middle income'),
 ('CAN', 'North America', 'High income: OECD'),
 ('CSS', '', ''),
 ('CYM', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('CAF', 'Sub-Saharan Africa', 'Low income'),
 ('CEB', '', ''),
 ('TCD', 'Sub-Saharan Africa', 'Low income'),
 ('CHI', 'Europe & Central Asia', 'High income: nonOECD'),
 ('CHL', 'Latin America & Caribbean', 'High income: OECD'),
 ('CHN', 'East Asia & Pacific', 'Upper middle income'),
 ('COL', 'Latin America & Caribbean', 'Upper middle income'),
 ('COM', 'Sub-Saharan Africa', 'Low income'),
 ('COG', 'Sub-Saharan Africa', 'Lower middle income'),
 ('CRI', 'Latin America & Caribbean', 'Upper middle income'),
 ('CIV', 'Sub-Saharan Africa', 'Lower middle income'),
 ('HRV', 'Europe & Central Asia', 'High income: nonOECD'),
 ('CUB', 'Latin America & Caribbean', 'Upper middle income'),
 ('CUW', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('CYP', 'Europe & Central Asia', 'High income: nonOECD'),
 ('CZE', 'Europe & Central Asia', 'High income: OECD'),
 ('PRK', 'East Asia & Pacific', 'Low income'),
 ('ZAR', 'Sub-Saharan Africa', 'Low income'),
 ('DNK', 'Europe & Central Asia', 'High income: OECD'),
 ('DJI', 'Middle East & North Africa', 'Lower middle income'),
 ('DMA', 'Latin America & Caribbean', 'Upper middle income'),
 ('DOM', 'Latin America & Caribbean', 'Upper middle income'),
 ('EAS', '', ''),
 ('EAP', '', ''),
 ('ECU', 'Latin America & Caribbean', 'Upper middle income'),
 ('EGY', 'Middle East & North Africa', 'Lower middle income'),
 ('SLV', 'Latin America & Caribbean', 'Lower middle income'),
 ('GNQ', 'Sub-Saharan Africa', 'High income: nonOECD'),
 ('ERI', 'Sub-Saharan Africa', 'Low income'),
 ('EST', 'Europe & Central Asia', 'High income: OECD'),
 ('ETH', 'Sub-Saharan Africa', 'Low income'),
 ('EMU', '', ''),
 ('ECS', '', ''),
 ('ECA', '', ''),
 ('EUU', '', ''),
 ('FRO', 'Europe & Central Asia', 'High income: nonOECD'),
 ('FJI', 'East Asia & Pacific', 'Upper middle income'),
 ('FIN', 'Europe & Central Asia', 'High income: OECD'),
 ('FCS', '', ''),
 ('FRA', 'Europe & Central Asia', 'High income: OECD'),
 ('PYF', 'East Asia & Pacific', 'High income: nonOECD'),
 ('GAB', 'Sub-Saharan Africa', 'Upper middle income'),
 ('GEO', 'Europe & Central Asia', 'Lower middle income'),
 ('DEU', 'Europe & Central Asia', 'High income: OECD'),
 ('GHA', 'Sub-Saharan Africa', 'Lower middle income'),
 ('GRC', 'Europe & Central Asia', 'High income: OECD'),
 ('GRL', 'Europe & Central Asia', 'High income: nonOECD'),
 ('GRD', 'Latin America & Caribbean', 'Upper middle income'),
 ('GUM', 'East Asia & Pacific', 'High income: nonOECD'),
 ('GTM', 'Latin America & Caribbean', 'Lower middle income'),
 ('GIN', 'Sub-Saharan Africa', 'Low income'),
 ('GNB', 'Sub-Saharan Africa', 'Low income'),
 ('GUY', 'Latin America & Caribbean', 'Lower middle income'),
 ('HTI', 'Latin America & Caribbean', 'Low income'),
 ('HPC', '', ''),
 ('HIC', '', ''),
 ('NOC', '', ''),
 ('OEC', '', ''),
 ('HND', 'Latin America & Caribbean', 'Lower middle income'),
 ('HKG', 'East Asia & Pacific', 'High income: nonOECD'),
 ('HUN', 'Europe & Central Asia', 'High income: OECD'),
 ('ISL', 'Europe & Central Asia', 'High income: OECD'),
 ('IND', 'South Asia', 'Lower middle income'),
 ('IDN', 'East Asia & Pacific', 'Lower middle income'),
 ('IRN', 'Middle East & North Africa', 'Upper middle income'),
 ('IRQ', 'Middle East & North Africa', 'Upper middle income'),
 ('IRL', 'Europe & Central Asia', 'High income: OECD'),
 ('IMY', 'Europe & Central Asia', 'High income: nonOECD'),
 ('ISR', 'Middle East & North Africa', 'High income: OECD'),
 ('ITA', 'Europe & Central Asia', 'High income: OECD'),
 ('JAM', 'Latin America & Caribbean', 'Upper middle income'),
 ('JPN', 'East Asia & Pacific', 'High income: OECD'),
 ('JOR', 'Middle East & North Africa', 'Upper middle income'),
 ('KAZ', 'Europe & Central Asia', 'Upper middle income'),
 ('KEN', 'Sub-Saharan Africa', 'Lower middle income'),
 ('KIR', 'East Asia & Pacific', 'Lower middle income'),
 ('KOR', 'East Asia & Pacific', 'High income: OECD'),
 ('KSV', 'Europe & Central Asia', 'Lower middle income'),
 ('KWT', 'Middle East & North Africa', 'High income: nonOECD'),
 ('KGZ', 'Europe & Central Asia', 'Lower middle income'),
 ('LAO', 'East Asia & Pacific', 'Lower middle income'),
 ('LCN', '', ''),
 ('LAC', '', ''),
 ('LVA', 'Europe & Central Asia', 'High income: nonOECD'),
 ('LDC', '', ''),
 ('LBN', 'Middle East & North Africa', 'Upper middle income'),
 ('LSO', 'Sub-Saharan Africa', 'Lower middle income'),
 ('LBR', 'Sub-Saharan Africa', 'Low income'),
 ('LBY', 'Middle East & North Africa', 'Upper middle income'),
 ('LIE', 'Europe & Central Asia', 'High income: nonOECD'),
 ('LTU', 'Europe & Central Asia', 'High income: nonOECD'),
 ('LMY', '', ''),
 ('LIC', '', ''),
 ('LMC', '', ''),
 ('LUX', 'Europe & Central Asia', 'High income: OECD'),
 ('MAC', 'East Asia & Pacific', 'High income: nonOECD'),
 ('MKD', 'Europe & Central Asia', 'Upper middle income'),
 ('MDG', 'Sub-Saharan Africa', 'Low income'),
 ('MWI', 'Sub-Saharan Africa', 'Low income'),
 ('MYS', 'East Asia & Pacific', 'Upper middle income'),
 ('MDV', 'South Asia', 'Upper middle income'),
 ('MLI', 'Sub-Saharan Africa', 'Low income'),
 ('MLT', 'Middle East & North Africa', 'High income: nonOECD'),
 ('MHL', 'East Asia & Pacific', 'Upper middle income'),
 ('MRT', 'Sub-Saharan Africa', 'Lower middle income'),
 ('MUS', 'Sub-Saharan Africa', 'Upper middle income'),
 ('MEX', 'Latin America & Caribbean', 'Upper middle income'),
 ('FSM', 'East Asia & Pacific', 'Lower middle income'),
 ('MEA', '', ''),
 ('MNA', '', ''),
 ('MIC', '', ''),
 ('MDA', 'Europe & Central Asia', 'Lower middle income'),
 ('MCO', 'Europe & Central Asia', 'High income: nonOECD'),
 ('MNG', 'East Asia & Pacific', 'Upper middle income'),
 ('MNE', 'Europe & Central Asia', 'Upper middle income'),
 ('MAR', 'Middle East & North Africa', 'Lower middle income'),
 ('MOZ', 'Sub-Saharan Africa', 'Low income'),
 ('MMR', 'East Asia & Pacific', 'Lower middle income'),
 ('NAM', 'Sub-Saharan Africa', 'Upper middle income'),
 ('NPL', 'South Asia', 'Low income'),
 ('NLD', 'Europe & Central Asia', 'High income: OECD'),
 ('NCL', 'East Asia & Pacific', 'High income: nonOECD'),
 ('NZL', 'East Asia & Pacific', 'High income: OECD'),
 ('NIC', 'Latin America & Caribbean', 'Lower middle income'),
 ('NER', 'Sub-Saharan Africa', 'Low income'),
 ('NGA', 'Sub-Saharan Africa', 'Lower middle income'),
 ('NAC', '', ''),
 ('MNP', 'East Asia & Pacific', 'High income: nonOECD'),
 ('NOR', 'Europe & Central Asia', 'High income: OECD'),
 ('OED', '', ''),
 ('OMN', 'Middle East & North Africa', 'High income: nonOECD'),
 ('OSS', '', ''),
 ('PSS', '', ''),
 ('PAK', 'South Asia', 'Lower middle income'),
 ('PLW', 'East Asia & Pacific', 'Upper middle income'),
 ('PAN', 'Latin America & Caribbean', 'Upper middle income'),
 ('PNG', 'East Asia & Pacific', 'Lower middle income'),
 ('PRY', 'Latin America & Caribbean', 'Upper middle income'),
 ('PER', 'Latin America & Caribbean', 'Upper middle income'),
 ('PHL', 'East Asia & Pacific', 'Lower middle income'),
 ('POL', 'Europe & Central Asia', 'High income: OECD'),
 ('PRT', 'Europe & Central Asia', 'High income: OECD'),
 ('PRI', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('QAT', 'Middle East & North Africa', 'High income: nonOECD'),
 ('ROM', 'Europe & Central Asia', 'Upper middle income'),
 ('RUS', 'Europe & Central Asia', 'High income: nonOECD'),
 ('RWA', 'Sub-Saharan Africa', 'Low income'),
 ('WSM', 'East Asia & Pacific', 'Lower middle income'),
 ('SMR', 'Europe & Central Asia', 'High income: nonOECD'),
 ('STP', 'Sub-Saharan Africa', 'Lower middle income'),
 ('SAU', 'Middle East & North Africa', 'High income: nonOECD'),
 ('SEN', 'Sub-Saharan Africa', 'Lower middle income'),
 ('SRB', 'Europe & Central Asia', 'Upper middle income'),
 ('SYC', 'Sub-Saharan Africa', 'High income: nonOECD'),
 ('SLE', 'Sub-Saharan Africa', 'Low income'),
 ('SGP', 'East Asia & Pacific', 'High income: nonOECD'),
 ('SXM', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('SVK', 'Europe & Central Asia', 'High income: OECD'),
 ('SVN', 'Europe & Central Asia', 'High income: OECD'),
 ('SST', '', ''),
 ('SLB', 'East Asia & Pacific', 'Lower middle income'),
 ('SOM', 'Sub-Saharan Africa', 'Low income'),
 ('ZAF', 'Sub-Saharan Africa', 'Upper middle income'),
 ('SAS', '', ''),
 ('SSD', 'Sub-Saharan Africa', 'Low income'),
 ('ESP', 'Europe & Central Asia', 'High income: OECD'),
 ('LKA', 'South Asia', 'Lower middle income'),
 ('KNA', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('LCA', 'Latin America & Caribbean', 'Upper middle income'),
 ('MAF', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('VCT', 'Latin America & Caribbean', 'Upper middle income'),
 ('SSF', '', ''),
 ('SSA', '', ''),
 ('SDN', 'Sub-Saharan Africa', 'Lower middle income'),
 ('SUR', 'Latin America & Caribbean', 'Upper middle income'),
 ('SWZ', 'Sub-Saharan Africa', 'Lower middle income'),
 ('SWE', 'Europe & Central Asia', 'High income: OECD'),
 ('CHE', 'Europe & Central Asia', 'High income: OECD'),
 ('SYR', 'Middle East & North Africa', 'Lower middle income'),
 ('TJK', 'Europe & Central Asia', 'Lower middle income'),
 ('TZA', 'Sub-Saharan Africa', 'Low income'),
 ('THA', 'East Asia & Pacific', 'Upper middle income'),
 ('BHS', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('GMB', 'Sub-Saharan Africa', 'Low income'),
 ('TMP', 'East Asia & Pacific', 'Lower middle income'),
 ('TGO', 'Sub-Saharan Africa', 'Low income'),
 ('TON', 'East Asia & Pacific', 'Upper middle income'),
 ('TTO', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('TUN', 'Middle East & North Africa', 'Upper middle income'),
 ('TUR', 'Europe & Central Asia', 'Upper middle income'),
 ('TKM', 'Europe & Central Asia', 'Upper middle income'),
 ('TCA', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('TUV', 'East Asia & Pacific', 'Upper middle income'),
 ('UGA', 'Sub-Saharan Africa', 'Low income'),
 ('UKR', 'Europe & Central Asia', 'Lower middle income'),
 ('ARE', 'Middle East & North Africa', 'High income: nonOECD'),
 ('GBR', 'Europe & Central Asia', 'High income: OECD'),
 ('USA', 'North America', 'High income: OECD'),
 ('UMC', '', ''),
 ('URY', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('UZB', 'Europe & Central Asia', 'Lower middle income'),
 ('VUT', 'East Asia & Pacific', 'Lower middle income'),
 ('VEN', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('VNM', 'East Asia & Pacific', 'Lower middle income'),
 ('VIR', 'Latin America & Caribbean', 'High income: nonOECD'),
 ('WBG', 'Middle East & North Africa', 'Lower middle income'),
 ('WLD', '', ''),
 ('YEM', 'Middle East & North Africa', 'Lower middle income'),
 ('ZMB', 'Sub-Saharan Africa', 'Lower middle income'),
 ('ZWE', 'Sub-Saharan Africa', 'Low income')]

In [29]:
# Converting into DataFrame
country_columns_data_df = pd.DataFrame(country_columns_data)
country_columns_data_df.head()

     0                           1                     2
0  AFG                  South Asia            Low income
1  ALB       Europe & Central Asia   Upper middle income
2  DZA  Middle East & North Africa   Upper middle income
3  ASM         East Asia & Pacific   Upper middle income
4  ADO       Europe & Central Asia  High income: nonOECD

In [30]:
# Renaming columns
new_country_columns_df = country_columns_data_df.rename(columns={0: 'Country Code', 1: 'Region', 2: 'Income Group'})
new_country_columns_df.head()

  Country Code                      Region          Income Group
0          AFG                  South Asia            Low income
1          ALB       Europe & Central Asia   Upper middle income
2          DZA  Middle East & North Africa   Upper middle income
3          ASM         East Asia & Pacific   Upper middle income
4          ADO       Europe & Central Asia  High income: nonOECD

# Extracting and transforming data two

In [31]:
# Storing filepath in a variable
second_data = "../Data/API_EN.csv"

In [32]:
# Reading the data
second_data_df = pd.read_csv(second_data, skiprows=4)
second_data_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,24.670529,24.505835,13.155542,8.351294,8.408363,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046060,0.053604,0.073765,0.074233,0.086292,0.101467,...,0.293837,0.412017,0.350371,0.315602,0.299445,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.097472,0.079038,0.201289,0.192535,0.201003,0.191528,...,1.243406,1.252789,1.330843,1.254617,1.291328,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.578574,1.803715,1.692908,1.749211,1.978763,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.122595,5.867130,5.916597,5.900753,5.832170,NaN,NaN,NaN,NaN,NaN

In [33]:
# Dropping columns
new_table_df = second_data_df.drop(columns=['Unnamed: 63'])
new_table_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.915833,24.670529,24.505835,13.155542,8.351294,8.408363,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046060,0.053604,0.073765,0.074233,0.086292,0.101467,...,0.241723,0.293837,0.412017,0.350371,0.315602,0.299445,NaN,NaN,NaN,NaN
2,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.097472,0.079038,0.201289,0.192535,0.201003,0.191528,...,1.232495,1.243406,1.252789,1.330843,1.254617,1.291328,NaN,NaN,NaN,NaN
3,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.495600,1.578574,1.803715,1.692908,1.749211,1.978763,NaN,NaN,NaN,NaN
4,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.121652,6.122595,5.867130,5.916597,5.900753,5.832170,NaN,NaN,NaN,NaN

In [34]:
# Merging tables
result_one = pd.merge(new_country_columns_df, new_table_df, on='Country Code')
result_one

,Country Code,Region,Income Group,Country Name,Indicator Name,Indicator Code,1960,1961,1962,1963,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AFG,South Asia,Low income,Afghanistan,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046060,0.053604,0.073765,0.074233,...,0.241723,0.293837,0.412017,0.350371,0.315602,0.299445,NaN,NaN,NaN,NaN
1,ALB,Europe & Central Asia,Upper middle income,Albania,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,...,1.495600,1.578574,1.803715,1.692908,1.749211,1.978763,NaN,NaN,NaN,NaN
2,DZA,Middle East & North Africa,Upper middle income,Algeria,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.553764,0.531810,0.484954,0.452824,...,3.423011,3.299704,3.291376,3.460266,3.507310,3.717410,NaN,NaN,NaN,NaN
3,ASM,East Asia & Pacific,Upper middle income,American Samoa,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Sub-Saharan Africa,Upper middle income,Angola,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.097472,0.079038,0.201289,0.192535,...,1.232495,1.243406,1.252789,1.330843,1.254617,1.291328,NaN,NaN,NaN,NaN
5,ATG,Latin America & Caribbean,High income: nonOECD,Antigua and Barbuda,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.662643,0.849084,1.796794,1.446821,...,5.446757,5.539568,5.363407,5.418447,5.360453,5.377649,NaN,NaN,NaN,NaN
6,ARB,,,Arab World,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.643689,0.685151,0.760855,0.874941,...,4.542151,4.615758,4.537755,4.813631,4.650474,4.860234,NaN,NaN,NaN,NaN
7,ARG,Latin America & Caribbean,High income: nonOECD,Argentina,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,...,4.410890,4.558500,4.600291,4.569384,4.462904,4.746797,NaN,NaN,NaN,NaN
8,ARM,Europe & Central Asia,Lower middle income,Armenia,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,1.509412,1.465622,1.710071,1.976060,1.899712,1.902759,NaN,NaN,NaN,NaN
9,ABW,Latin America & Caribbean,High income: nonOECD,Aruba,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,25.915833,24.670529,24.505835,13.155542,8.351294,8.408363,NaN,NaN,NaN,NaN
10,AUS,East Asia & Pacific,High income: OECD,Australia,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,8.582937,8.641569,8.835688,9.226440,...,18.200182,17.740845,17.538878,17.072905,16.095833,15.388766,NaN,NaN,NaN,NaN
11,AUT,Europe & Central Asia,High income: OECD,Austria,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.373319,4.496362,4.755362,5.155194,...,7.518751,8.071132,7.748134,7.387077,7.368748,6.869868,NaN,NaN,NaN,NaN
12,AZE,Europe & Central Asia,Upper middle income,Azerbaijan,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,3.565668,3.388226,3.646180,3.824877,3.785069,3.931561,NaN,NaN,NaN,NaN
13,BHR,Middle East & North Africa,High income: nonOECD,Bahrain,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.544478,10.549281,9.191644,6.710688,...,23.811708,23.585481,22.413335,20.514851,23.804357,23.449755,NaN,NaN,NaN,NaN
14,BGD,South Asia,Lower middle income,Bangladesh,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,0.357159,0.393937,0.412011,0.433488,0.442401,0.459142,NaN,NaN,NaN,NaN
15,BRB,Latin America & Caribbean,High income: nonOECD,Barbados,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.746297,0.838884,1.119401,0.816330,...,5.807258,5.285997,5.449514,5.222107,5.127146,4.490178,NaN,NaN,NaN,NaN
16,BLR,Europe & Central Asia,Upper middle income,Belarus,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,6.439684,6.642697,6.762517,6.679992,6.736652,6.701958,NaN,NaN,NaN,NaN
17,BEL,Europe & Central Asia,High income: OECD,Belgium,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.941594,10.103872,10.641190,11.386929,...,9.249616,10.171465,9.054330,8.562879,8.689543,8.328160,NaN,NaN,NaN,NaN
18,BLZ,Latin America & Caribbean,Upper middle income,Belize,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.477972,0.387211,0.715446,0.622369,...,1.868958,1.676106,1.826861,1.415826,1.491599,1.407601,NaN,NaN,NaN,NaN
19,BEN,Sub-Saharan Africa,Low income,Benin,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.066354,0.052049,0.054209,0.047589,...,0.521063,0.553283,0.559693,0.562347,0.580961,0.614214,NaN,NaN,NaN,NaN
20,BMU,North America,High income: nonOECD,Bermuda,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.551374,3.868484,3.383712,3.151929,...,7.262935,9.347122,6.872359,7.356863,7.051815,8.838315,NaN,NaN,NaN,NaN
21,BTN,South Asia,Lower middle income,Bhutan,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,0.544052,0.670263,0.990399,1.086025,1.203221,1.289321,NaN,NaN,NaN,NaN
22,BOL,Latin America & Caribbean,Lower middle income,Bolivia,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.272038,0.276621,0.286626,0.310160,...,1.433545,1.532871,1.602029,1.835469,1.818997,1.932419,NaN,NaN,NaN,NaN
23,BIH,Europe & Central Asia,Upper middle income,Bosnia and Herzegovina,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,5.526103,5.716135,6.475390,6.101280,6.080813,6.234719,NaN,NaN,NaN,NaN
24,BWA,Sub-Saharan Africa,Upper middle income,Botswana,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,1.900286,2.325924,2.036091,2.025409,2.456718,3.243288,NaN,NaN,NaN,NaN
25,BRA,Latin America & Caribbean,Upper middle income,Brazil,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.649631,0.661771,0.701236,0.705321,...,1.883812,2.132938,2.211587,2.343570,2.488417,2.594388,NaN,NaN,NaN,NaN
26,BRN,East Asia & Pacific,High income: nonOECD,Brunei Darussalam,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.082170,3.555785,4.137439,3.801178,...,20.486247,21.105946,24.607178,24.180764,19.233592,22.124701,NaN,NaN,NaN,NaN
27,BGR,Europe & Central Asia,Upper middle income,Bulgaria,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.833901,3.269920,3.835892,4.259781,...,5.731194,5.964900,6.715381,6.119457,5.450696,5.871616,NaN,NaN,NaN,NaN
28,BFA,Sub-Saharan Africa,Low income,Burkina Faso,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.009112,0.018730,0.017003,0.017504,...,0.127633,0.125717,0.137496,0.158663,0.179132,0.162019,NaN,NaN,NaN,NaN
29,BDI,Sub-Saharan Africa,Low income,Burundi,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.015207,0.016160,...,0.022462,0.024260,0.026762,0.030297,0.030176,0.044485,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,SYR,Middle East & North Africa,Lower middle income,Syrian Arab Republic,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.704774,0.649233,0.657370,0.717428,...,2.993133,2.930971,2.727578,2.190428,1.839503,1.598898,NaN,NaN,NaN,NaN
209,TJK,Europe & Central Asia,Lower middle income,Tajikistan,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,0.328286,0.333031,0.300737,0.366926,0.425540,0.620467,NaN,NaN,NaN,NaN
210,TZA,Sub-Saharan Africa,Low income,Tanzania,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.082261,0.067872,0.071734,0.072967,...,0.132512,0.154162,0.170126,0.194471,0.220730,0.221347,NaN,NaN,NaN,NaN
211,THA,East Asia & Pacific,Upper middle income,Thailand,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135586,0.146944,0.173130,0.185877,...,4.001129,4.194782,4.121389,4.371765,4.403808,4.621860,NaN,NaN,NaN,NaN
212,BHS,Latin America & Caribbean,High income: nonOECD,"Bahamas, The",CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.749763,4.746699,5.996432,5.558111,...,4.629529,4.583343,5.091833,5.292937,7.426540,6.323258,NaN,NaN,NaN,NaN
213,GMB,Sub-Saharan Africa,Low income,"Gambia, The",CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.049833,0.058401,0.066929,0.075400,...,0.232604,0.255714,0.256175,0.252318,0.232722,0.267685,NaN,NaN,NaN,NaN
214,TGO,Sub-Saharan Africa,Low income,Togo,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.041762,0.057386,0.054570,0.065171,...,0.439660,0.406006,0.368935,0.362451,0.377480,0.362697,NaN,NaN,NaN,NaN
215,TON,East Asia & Pacific,Upper middle income,Tonga,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.178585,0.172578,0.166030,0.159423,...,1.274198,1.126823,0.981822,1.013263,1.079267,1.143966,NaN,NaN,NaN,NaN
216,TTO,Latin America & Caribbean,High income: nonOECD,Trinidad and Tobago,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.042583,5.318116,8.225533,1.466687,...,33.969786,36.092933,35.162088,33.855000,34.520032,34.163243,NaN,NaN,NaN,NaN
217,TUN,Middle East & North Africa,Upper middle income,Tunisia,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.413565,0.417262,0.417563,0.444801,...,2.355950,2.599658,2.417982,2.480446,2.511904,2.587060,NaN,NaN,NaN,NaN
218,TUR,Europe & Central Asia,Upper middle income,Turkey,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.612272,0.616880,0.750244,0.767638,...,3.894703,4.120215,4.370561,4.419488,4.285301,4.491479,NaN,NaN,NaN,NaN
219,TKM,Europe & Central Asia,Upper middle income,Turkmenistan,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,10.052132,11.261485,12.073175,12.314897,12.436133,12.517295,NaN,NaN,NaN,NaN
220,TCA,Latin America & Caribbean,High income: nonOECD,Turks and Caicos Islands,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,5.940916,6.152288,6.009391,6.105825,5.980971,6.086487,NaN,NaN,NaN,NaN
221,TUV,East Asia & Pacific,Upper middle income,Tuvalu,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,1.053635,0.696420,0.690064,1.025734,1.016822,1.008526,NaN,NaN,NaN,NaN
222,UGA,Sub-Saharan Africa,Low income,Uganda,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.062123,0.058093,0.059258,0.057791,...,0.103167,0.115583,0.121524,0.112110,0.129675,0.134656,NaN,NaN,NaN,NaN
223,UKR,Europe & Central Asia,Lower middle income,Ukraine,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,5.647810,6.641350,6.265962,6.487603,5.976642,5.020747,NaN,NaN,NaN,NaN
224,ARE,Middle East & North Africa,High income: nonOECD,United Arab Emirates,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118758,0.108837,0.163018,0.175223,...,21.908556,19.443690,19.076489,19.817684,18.954164,23.302023,NaN,NaN,NaN,NaN
225,GBR,Europe & Central Asia,High income: OECD,United Kingdom,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,11.150759,11.154139,11.142928,11.254853,...,7.574622,7.857836,7.079298,7.355898,7.145844,6.497440,NaN,NaN,NaN,NaN
226,USA,North America,High income: OECD,United States,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.999779,15.681256,16.013937,16.482762,...,17.157738,17.442862,16.976957,16.310471,16.323477,16.502837,NaN,NaN,NaN,NaN
227,UMC,,,Upper middle income,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.682250,1.385467,1.260818,1.262008,...,5.599058,5.982706,6.403581,6.555614,6.605490,6.588135,NaN,NaN,NaN,NaN
228,URY,Latin America & Caribbean,High income: nonOECD,Uruguay,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.701583,1.602724,1.540657,1.639284,...,2.396864,1.893043,2.292942,2.559620,2.226236,1.973151,NaN,NaN,NaN,NaN
229,UZB,Europe & Central Asia,Lower middle income,Uzbekistan,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,3.858172,3.647049,3.874801,3.889733,3.417442,3.420723,NaN,NaN,NaN,NaN
230,VUT,East Asia & Pacific,Lower middle income,Vanuatu,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.594871,0.471714,...,0.524345,0.512118,0.545795,0.459329,0.420092,0.594993,NaN,NaN,NaN,NaN
231,VEN,Latin America & Caribbean,High income: nonOECD,"Venezuela, RB",CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.005105,6.136885,6.155058,6.155746,...,6.289128,6.513377,6.001459,6.649233,6.066461,6.025698,NaN,NaN,NaN,NaN
232,VNM,East Asia & Pacific,Lower middle income,Vietnam,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.229309,0.237229,0.269494,0.255299,...,1.469013,1.613360,1.701422,1.572338,1.609112,1.803566,NaN,NaN,NaN,NaN
233,VIR,Latin America & Caribbean,High income: nonOECD,Virgin Islands (U.S.),CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,WLD,,,World,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.098922,3.069681,3.140499,3.244510,...,4.656246,4.828260,4.967717,4.996384,4.987931,4.970155,NaN,NaN,NaN,NaN
235,YEM,Middle East & North Africa,Lower middle income,"Yemen, Rep.",CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.702611,0.506779,0.726302,0.535971,...,1.069059,0.992602,0.810900,0.749447,0.996885,0.864835,NaN,NaN,NaN,NaN
236,ZMB,Sub-Saharan Africa,Lower middle income,Zambia,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,0.186396,0.194337,0.205911,0.249457,0.261113,0.288271,NaN,NaN,NaN,NaN
237,ZWE,Sub-Saharan Africa,Low income,Zimbabwe,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,...,0.405716,0.552146,0.664751,0.529703,0.775564,0.779956,NaN,NaN,NaN,NaN

In [35]:
# Saving the result in json
result_one_dict = json.loads(result_one.to_json()).values()

# Loading into MongoDB

In [36]:
# Connecting to MongoDB
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [37]:
# Defining the database in Mongo
db = client.carbon_dioxide_DB

In [38]:
# Declaring the collection
carbon_dioxide_col = db.carbon_dioxide

In [39]:
# Inserting data
carbon_dioxide_col.insert_many(result_one.to_dict('records'))
client.close()